/* Miscellaneous */

@import url(normalize.css);

:root{
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: #918ca4;
    --color-body-darker: #5c5577;
    --color-border: #ccc;
    --border-radius: 30px;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

/* Topography */

::selection{
    background: var(--color-primary);
    color: white;
}
html{
    font-size: 62.5%;
}
body{
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
    color: var(--color-body);
}

/* Lists */
.list{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
}

/* Navigation Bar */

.nav-bar{
    background: linear-gradient(0deg, rgba(116,0,0,1) 0%, rgba(0,0,0,1) 65%);
    color: white;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    text-align: center;
}
.nav-bar__logo{
    width: 100px;
    padding: 1rem;
    filter: invert();
    justify-self: center;
}